.product-page{
    display: grid;
    
    grid-template-areas:'left-col center-col right-col'
    'fbt fbt right-col' ;
    grid-template-columns: 34.5% auto 244px;
    grid-template-rows: 1150px auto;
    height: fit-content;
    min-width: 1000px;
    
}


.product-page__left-col{
    display: flex;
    align-items: center;
    align-self: flex-start;
    position: sticky;
    top: 4px;
    left: 0;
    grid-area: left-col;
}

.left-col__small-images ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-col__small-images{
    align-self: flex-start;
}

.left-col__small-images ul li{
    margin-bottom: 8px;
    width: 42px;
    height: 42px;
    border: 1px solid var(--medium-gray-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-col__small-images ul li img{
    width: 36px;
    height: 36px;
    border-radius: 2px;
}

.product-page__right-col{
    grid-area: right-col;
}

.product-page__right-col-section{
    border: 1px solid var(--light-gray-border-color);
    border-radius: 8px;
    padding: 18px 14px;
    margin-bottom: 30px;
}

.left-col__large-image{
    background: url(/images/product-image-1.jpg) no-repeat center center/contain;
    height: 379px;
    width: 379px;
    /* background-color: brown; */
}

.product-page__center-col{
    margin-left: 1.5%;
    margin-right: 26px;
    grid-area: center-col;
}

.product-page__center-col .center-col__first-block > div{
    display: flex;
    align-items: center;
    margin: 5px;
}

.center-col__product-name{
    font-size: 24px;
    line-height: 32px;
    color: var(--text-dark-color);
}

.center-col__rating{
    display: flex;
    align-items: center;
}

.badge-block{
    margin-bottom: 10px!important;
}
.center-col__price-block{
    margin-right: 30px;
}

.price-block__price_shipping{
    display: flex;
}

.center-col__alexa-block{
    display: flex;
}

.center-col__alexa-block .alexa-icon{
    height: 32px;
    width: 32px;
    margin-right: 10px;
}

.center-col__alexa-block .small-item{
    margin: 0 10px;
}

.center-col__alexa-block .small-item .small-item-img-wrapper{
    display: flex;
    align-items: center;
    height: 47px;
    width: 47px;
}

.center-col__alexa-block .small-item .small-item-img-wrapper img{
    max-height: 47px;
    max-width: 47px;
    width: auto;
    height: auto;
    display: block;

}

.alexa-block__content > .with-alexa{
    display: flex;
    align-items: center;
    margin: 15px 0;
    justify-content: flex-start;
}

.alexa-block__content .show-less{
    display: flex;
    align-items: center;
}

.product-details-block__row{
    display: flex;
    line-height: 20px;
    padding: 3px;
}

.product-details-block__row .detail-property{
    width:128px;
    margin-right: 20px;
}
.center-col__about-item{
    padding: 0 20px;
}
.center-col__about-item ul{
    margin-top: 10px;
    list-style:disc;
}

.more-details{
    margin-left:-20px ;
}

.more-details span{
    color: var(--orange-links-hover-color);
}
/* 
.right-col__first_block{
    padding: 18px 14px;
} */

.first-block__shipping-details > *{
    margin: 5px 0;
}

.seller-details div{
    display: flex;
}

.seller-details__prop{
    width: 59px;
    margin-right: 10px;

}
.other-item{
    display: flex;
}

.other-item input{
    margin: 4px;
    margin-left: 0;
}

.share{
    display: flex;
    justify-content: center;
    padding: 0 10px ;
}

.other-sellers{
    padding: 10px 20px;
}

.other-seller-section{
    border-top:1px solid var(--light-gray-border-color);
    padding-top:10px;
}

.frequently-bought-together{
    /* height: 200px; */
    grid-area: "fbt";
    /* background-color: tomato; */
}
.mymain{
    grid-area: 'mymain';
    display: grid;
}

.item-card{
    height: 284px;
    width: 160px;
}

.item-card img{
    height: 160px;
    width: 160px;
}

.item-card .rate{
    display: flex;
    align-items: center;
}

.item-card .rate--hidden{
    display: none;
}

.item-card .rate-amount{
    color: var(--blue-links-color);
    margin-left: 5px;
}


@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }

  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .carousel * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  .carousel *::-webkit-scrollbar {
    width: 0;
  }
  
  .carousel *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .carousel *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  .carousel * {
    -ms-overflow-style: none;
  }
  

  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }

  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  .item-card {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
  }

  .item-card:nth-child(even) {
    background-color: #99f;
  }

  .item-card:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }